.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.headerSpacePage {
  padding-bottom: 40px!important;
  /* padding-top: 40px!important; */
  margin-left: auto;
  margin-right: auto;
}

.subTitle {
  text-align: Center;
  font-size: 16px!important;
  margin: 0 !important;
  color: #728089 !important;
}

.contHeaderBox {
  background-color: #101b22;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectTitle {
  color: #8b949e !important;
  font-weight: 500;
}

.contSelectionSection {
  display: Flex;
}

.cardListCont {
  padding: 15px;
  width: 100%;
}

.smallChipShwo {
  float: right;
  background-color: #30363d;
  /* border: 1px solid #8b949e; */
  border: 1px solid #30363d;
  padding: 3px 12px;
  font-size: 12px !important;
  border-radius: 6px;
  display: flex;
  align-items: center;
  color: #c9d1d9 !important;
}

.smallChipShwo svg {
  font-size: 20px !important;
}

.titleCardList {
  font-size: 20px !important;
  color: #58a6ff;
}

.subtitleCardList {
  margin-bottom: 4px;
  margin-top: 4px;
  color: #8b949e;
  font-size: 14px;
  font-weight: 300;
}

.lastRowCardListCont {
  display: flex;
}

.lastRowCardListCont span:last-child {
  float: right !important;
  margin-left: auto;
  margin-right: 0px;
}

.lastRowCardListCont span {
  color: #8b949e!important;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.avatarName {
  display: flex;
}

.avatarName>div {
  width: 20px !important;
  height: 20px !important;
}

.lastRowCardListCont span svg {
  font-size: 14px !important;
}

/* Dev */

.cardListContDev {
  padding: 15px;
  width: 100%;
  display: flex;
}

.spanCardDev {
  width: 15px;
  color: #8b949e;
}

.avatarShowDev {
  margin: 0px 15px;
}

.avatarShowDev>div {
  width: 50px !important;
  height: 50px !important;
}

.colSectionShow {
  display: flex;
}

.nameDevCardList {
  color: #58a6ff;
  font-weight: 700;
  font-size: 20px !important;
  margin: 0px !important;
}

.underNameDevCardList {
  font-size: 16px;
  color: #8b949e;
  margin: 0px !important;
}

.fireIconShow path {
  color: #dc6d27 !important;
}

.thirdSectionCard path {
  font-size: 14px !important;
}

.thirdSectionCard p {
  margin: 0px 0px 3px 0px !important;
  color: #8b949e !important;
  display: flex;
  align-items: center;
}

.thirdSectionCard p:nth-child(2) {
  color: #58a6ff !important;
  font-size: 18px !important;
}

.thirdSectionCard p:last-child {
  font-size: 12px !important;
}

.fullContForBorder {
  border: 1px solid #263033;
  padding: 0px !important;
  border-radius: 6px;
}

.addSpace {
  margin-bottom: 45px !important;
}

.titleCardList svg {
  margin-right: 15px !important;
  font-size: 16px !important;
}

.titleCardList {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .contHeaderBox, .contSelectionSection, .lastRowCardListCont {
    display: block;
  }
}